<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>상품목록</title>
</head>
<body>

<div sec:authorize="isAnonymous()">
    <a th:href="@{/login}">로그인</a>
</div>

<div sec:authorize="isAuthenticated()">
    <a th:href="@{/logout}">로그아웃</a>
</div>

<a th:href="@{/product/list}">상품목록</a><br>
<div sec:authorize="hasAuthority('ROLE_ADMIN')">
<a th:href="@{/product/add}">상품추가</a>
</div>

</body>
</html>
