<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:text="${greeting}">Hello?</div>
<div th:text="${#temporals.format(now, 'yyyy-MM-dd HH:mm:ss')}">2026년 1월 1일 00:00:00</div>

<ul th:object="${me}">
    <li th:text="*{name}">홍길동</li>
    <li th:text="*{email}">GildongHong@hanbit.co.kr</li>
    <li th:text="*{age}">18</li>
</ul>

<table>
    <tr th:each="member, iteration : ${members}" th:style="${iteration.odd}?'background-color:lightcoral':'background-color:lightgreen'"   style="background-color:lightcoral">
        <td th:text="${iteration.count}">1</td>
        <td th:text="${member.name}">홍길동</td>
        <td th:text="${member.email}">GildongHong@hanbit.co.kr</td>
        <td th:text="${member.age}">18</td>
    </tr>
</table>

</body>
</html>